

.appleTask{
  position:relative;
  background: url('../background/square.png');
  border-width: thin;
  border-color: black;
  border-style: solid;
  width: 55px;
  height: 55px;
  left: 60px;
  margin-top: 670px;
  margin-left: 10px;
  float: left;
  Display: flex;
  Align-Items: center;
  Justify-Content: center;
}
