.link{
  cursor: pointer;
}

.IntroConsentText{
  font: "Century Gothic", Futura, sans-serif;
  font-size  : 16;
  margin-top : 2vh;
  margin-left: 2vh;
}

.bold { font-weight: bold; }

.place-middle{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
