
.juice_small_1{
  position:absolute;
  background: url('../juice_small/juice1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_2{
  position:absolute;
  background: url('../juice_small/juice2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_3{
  position:absolute;
  background: url('../juice_small/juice3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_4{
  position:absolute;
  background: url('../juice_small/juice4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_5{
  position:absolute;
  background: url('../juice_small/juice5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_6{
  position:absolute;
  background: url('../juice_small/juice6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_7{
  position:absolute;
  background: url('../juice_small/juice7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_8{
  position:absolute;
  background: url('../juice_small/juice8.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_9{
  position:absolute;
  background: url('../juice_small/juice9.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_10{
  position:absolute;
  background: url('../juice_small/juice10.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_1{
  position:absolute;
  background: url('../juice_big/juice1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_2{
  position:absolute;
  background: url('../juice_big/juice2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_3{
  position:absolute;
  background: url('../juice_big/juice3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_4{
  position:absolute;
  background: url('../juice_big/juice4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_5{
  position:absolute;
  background: url('../juice_big/juice5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_6{
  position:absolute;
  background: url('../juice_big/juice6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_7{
  position:absolute;
  background: url('../juice_big/juice7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_8{
  position:absolute;
  background: url('../juice_big/juice8.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_9{
  position:absolute;
  background: url('../juice_big/juice9.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_10{
  position:absolute;
  background: url('../juice_big/juice10.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}
