.progress-bar {
	position: relative;
	height: 25px;
	width: 350px;
	border-radius: 50px;
	border: 1px solid #333;
	background: white;
}

.filler {
	background: #1DA598;
	height: 100%;
	border-radius: inherit;
	transition: width .2s ease-in;
}
