
.slide_text{
  position:relative;
  margin-top: -690px;
  margin-left: 90px;
  font-size: 21px;
  font-family: Arial;
}

.slide_im{
  position:absolute;
  margin-top: 0px;
  margin-left: 0px;
}

.slide_text_after_training{
  position:absolute;
  margin-top: 100px;
  margin-left: 90px;
  font-size: 21px;
  font-family: Arial;
}
