
.slide_text{
  position:absolute;
  margin-top: 100px;
  margin-left: 90px;
  font-size: 21px;
  font-family: Arial;
}

.slide_text_after_training{
  position:absolute;
  margin-top: 90px;
  margin-left: 90px;
  font-size: 21px;
  font-family: Arial;
}

.slide_0{
  position:absolute;
  background: url('../instructions/slides/slide0.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_1{
  position:absolute;
  background: url('../instructions/slides/slide1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_2{
  position:absolute;
  background: url('../instructions/slides/slide2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_3{
  position:absolute;
  background: url('../instructions/slides/slide3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_4{
  position:absolute;
  background: url('../instructions/slides/slide4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_5{
  position:absolute;
  background: url('../instructions/slides/slide5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_6{
  position:absolute;
  background: url('../instructions/slides/slide6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_7{
  position:absolute;
  background: url('../instructions/slides/slide7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_8{
  position:absolute;
  background: url('../instructions/slides/slide8.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_9{
  position:absolute;
  background: url('../instructions/slides/slide9.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_10{
  position:absolute;
  background: url('../instructions/slides/slide10.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_11{
  position:absolute;
  background: url('../instructions/slides/slide11.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_12{
  position:absolute;
  background: url('../instructions/slides/slide12.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_13{
  position:absolute;
  background: url('../instructions/slides/slide13.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_14{
  position:absolute;
  background: url('../instructions/slides/slide14.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_15{
  position:absolute;
  background: url('../instructions/slides/slide15.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_16{
  position:absolute;
  background: url('../instructions/slides/slide16.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_17{
  position:absolute;
  background: url('../instructions/slides/slide17.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_18{
  position:absolute;
  background: url('../instructions/slides/slide18.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_19{
  position:absolute;
  background: url('../instructions/slides/slide_empty_2arrows.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_20{
  position:absolute;
  background: url('../instructions/slides/slide_empty_2arrows.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_21{
  position:absolute;
  background: url('../instructions/slides/slide_empty_2arrows.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_22{
  position:absolute;
  background: url('../instructions/slides/slide_empty_1arrow.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_no_arrow{
  position:absolute;
  background: url('../instructions/slides/slide_empty_0arrow_big.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}
