
.apple{
  position:relative;
  background: url('../background/square.png');
  border-width: thin;
  border-color: black;
  border-style: solid;
  width: 55px;
  height: 55px;
  left: -337px;
  margin-top: 310px;
  margin-left: 7px;
  float: left;
  Display: flex;
  Align-Items: center;
  Justify-Content: center;
}

.training_text{
  margin-top: 140px;
  margin-left: 390px;
  font-size: 21px;
  font-family: Arial;
}

.appleSug{
  position:relative;
  background: url('../background/square.png');
  border-width: thin;
  border-color: black;
  border-style: solid;
  width: 55px;
  height: 55px;
  margin-top: -20px;
  margin-left: 70px;
  left: -175px;
  float: left;
  Display: flex;
  Align-Items: center;
  Justify-Content: center;
}

.feedback{
  position:absolute;
  left: -15px;
  margin-top: -150px;
}

.training_1{
  position:absolute;
  background: url('../images_training/training_1_empty.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.training_2{
  position:absolute;
  background: url('../images_training/training_2_empty.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.training_3{
  position:absolute;
  background: url('../images_training/training_3_empty.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.training_4{
  position:absolute;
  background: url('../images_training/training_4_empty.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}
