

.shift{
  position:absolute;
  width: 1000px;
  height: 1000px;
}

.apple{
  position:relative;
  background: url('background/square.png');
  border-width: thin;
  border-color: black;
  border-style: solid;
  width: 55px;
  height: 55px;
  left: 47px;
  margin-top: 638px;
  margin-left: 7px;
  float: left;
  Display: flex;
  Align-Items: center;
  Justify-Content: center;
}

.appleSug{
  position:relative;
  background: url('background/square.png');
  border-width: thin;
  border-color: black;
  border-style: solid;
  width: 55px;
  height: 55px;
  margin-top: 300px;
  margin-left: 50px;
  left: 179px;
  float: left;
  Display: flex;
  Align-Items: center;
  Justify-Content: center;
}

.feedback{
  position:absolute;
  left: -15px;
  margin-top: 220px;
}

.juice_small_1{
  position:absolute;
  background: url('juice_small/juice1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_2{
  position:absolute;
  background: url('juice_small/juice2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_3{
  position:absolute;
  background: url('juice_small/juice3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_4{
  position:absolute;
  background: url('juice_small/juice4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_5{
  position:absolute;
  background: url('juice_small/juice5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_6{
  position:absolute;
  background: url('juice_small/juice6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_7{
  position:absolute;
  background: url('juice_small/juice7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_8{
  position:absolute;
  background: url('juice_small/juice8.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_9{
  position:absolute;
  background: url('juice_small/juice9.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_small_10{
  position:absolute;
  background: url('juice_small/juice10.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_1{
  position:absolute;
  background: url('juice_big/juice1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_2{
  position:absolute;
  background: url('juice_big/juice2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_3{
  position:absolute;
  background: url('juice_big/juice3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_4{
  position:absolute;
  background: url('juice_big/juice4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_5{
  position:absolute;
  background: url('juice_big/juice5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_6{
  position:absolute;
  background: url('juice_big/juice6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_7{
  position:absolute;
  background: url('juice_big/juice7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_8{
  position:absolute;
  background: url('juice_big/juice8.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_9{
  position:absolute;
  background: url('juice_big/juice9.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.juice_big_10{
  position:absolute;
  background: url('juice_big/juice10.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_0{
  position:absolute;
  background: url('instructions/slides/slide0.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_1{
  position:absolute;
  background: url('instructions/slides/slide1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_2{
  position:absolute;
  background: url('instructions/slides/slide2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_3{
  position:absolute;
  background: url('instructions/slides/slide3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_4{
  position:absolute;
  background: url('instructions/slides/slide4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_5{
  position:absolute;
  background: url('instructions/slides/slide5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_6{
  position:absolute;
  background: url('instructions/slides/slide6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_7{
  position:absolute;
  background: url('instructions/slides/slide7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_8{
  position:absolute;
  background: url('instructions/slides/slide8.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_9{
  position:absolute;
  background: url('instructions/slides/slide9.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_10{
  position:absolute;
  background: url('instructions/slides/slide10.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_11{
  position:absolute;
  background: url('instructions/slides/slide11.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_12{
  position:absolute;
  background: url('instructions/slides/slide12.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_13{
  position:absolute;
  background: url('instructions/slides/slide13.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_14{
  position:absolute;
  background: url('instructions/slides/slide14.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_15{
  position:absolute;
  background: url('instructions/slides/slide15.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_16{
  position:absolute;
  background: url('instructions/slides/slide16.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_17{
  position:absolute;
  background: url('instructions/slides/slide17.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_18{
  position:absolute;
  background: url('instructions/slides/slide18.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_19{
  position:absolute;
  background: url('instructions/slides/slide19.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_20{
  position:absolute;
  background: url('instructions/slides/slide20.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.slide_21{
  position:absolute;
  background: url('instructions/slides/slide21.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.training_1{
  position:absolute;
  background: url('images_training/training_1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.training_2{
  position:absolute;
  background: url('images_training/training_2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.training_3{
  position:absolute;
  background: url('images_training/training_3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.training_4{
  position:absolute;
  background: url('images_training/training_4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}


.finishblock_1{
  position:absolute;
  background: url('general_images/finishblock_1.jpg');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.finishblock_2{
  position:absolute;
  background: url('general_images/finishblock_2.jpg');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.finishblock_3{
  position:absolute;
  background: url('general_images/finishblock_3.jpg');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.finishblock_4{
  position:absolute;
  background: url('general_images/finishblock_4.jpg');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.startblock_1{
  position:absolute;
  background: url('general_images/startblock_1.jpg');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.startblock_2{
  position:absolute;
  background: url('general_images/startblock_2.jpg');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.startblock_3{
  position:absolute;
  background: url('general_images/startblock_3.jpg');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.startblock_4{
  position:absolute;
  background: url('general_images/startblock_4.jpg');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm1_1{
  position:absolute;
  background: url('background/images_set1/sun_1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm1_2{
  position:absolute;
  background: url('background/images_set1/sun_2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm1_3{
  position:absolute;
  background: url('background/images_set1/sun_3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm1_4{
  position:absolute;
  background: url('background/images_set1/sun_4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm1_5{
  position:absolute;
  background: url('background/images_set1/sun_5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm1_6{
  position:absolute;
  background: url('background/images_set1/sun_6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm1_7{
  position:absolute;
  background: url('background/images_set1/sun_7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm2_1{
  position:absolute;
  background: url('background/images_set2/sun_2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm2_2{
  position:absolute;
  background: url('background/images_set2/sun_2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm2_3{
  position:absolute;
  background: url('background/images_set2/sun_3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm2_4{
  position:absolute;
  background: url('background/images_set2/sun_4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm2_5{
  position:absolute;
  background: url('background/images_set2/sun_5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm2_6{
  position:absolute;
  background: url('background/images_set2/sun_6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm2_7{
  position:absolute;
  background: url('background/images_set2/sun_7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm3_1{
  position:absolute;
  background: url('background/images_set3/sun_1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm3_2{
  position:absolute;
  background: url('background/images_set3/sun_2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm3_3{
  position:absolute;
  background: url('background/images_set3/sun_3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm3_4{
  position:absolute;
  background: url('background/images_set3/sun_4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm3_5{
  position:absolute;
  background: url('background/images_set3/sun_5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm3_6{
  position:absolute;
  background: url('background/images_set3/sun_6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm3_7{
  position:absolute;
  background: url('background/images_set3/sun_7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm4_1{
  position:absolute;
  background: url('background/images_set4/sun_1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm4_2{
  position:absolute;
  background: url('background/images_set4/sun_2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm4_3{
  position:absolute;
  background: url('background/images_set4/sun_3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm4_4{
  position:absolute;
  background: url('background/images_set4/sun_4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm4_5{
  position:absolute;
  background: url('background/images_set4/sun_5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm4_6{
  position:absolute;
  background: url('background/images_set4/sun_6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm4_7{
  position:absolute;
  background: url('background/images_set4/sun_7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm5_1{
  position:absolute;
  background: url('background/images_set5/sun_1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm5_2{
  position:absolute;
  background: url('background/images_set5/sun_2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm5_3{
  position:absolute;
  background: url('background/images_set5/sun_3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm5_4{
  position:absolute;
  background: url('background/images_set5/sun_4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm5_5{
  position:absolute;
  background: url('background/images_set5/sun_5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm5_6{
  position:absolute;
  background: url('background/images_set5/sun_6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm5_7{
  position:absolute;
  background: url('background/images_set5/sun_7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm6_1{
  position:absolute;
  background: url('background/images_set6/sun_1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm6_2{
  position:absolute;
  background: url('background/images_set6/sun_2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm6_3{
  position:absolute;
  background: url('background/images_set6/sun_3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm6_4{
  position:absolute;
  background: url('background/images_set6/sun_4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm6_5{
  position:absolute;
  background: url('background/images_set6/sun_5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm6_6{
  position:absolute;
  background: url('background/images_set6/sun_6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm6_7{
  position:absolute;
  background: url('background/images_set6/sun_7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm7_1{
  position:absolute;
  background: url('background/images_set7/sun_1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm7_2{
  position:absolute;
  background: url('background/images_set7/sun_2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm7_3{
  position:absolute;
  background: url('background/images_set7/sun_3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm7_4{
  position:absolute;
  background: url('background/images_set7/sun_4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm7_5{
  position:absolute;
  background: url('background/images_set7/sun_5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm7_6{
  position:absolute;
  background: url('background/images_set7/sun_6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm7_7{
  position:absolute;
  background: url('background/images_set7/sun_7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm8_1{
  position:absolute;
  background: url('background/images_set8/sun_1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm8_2{
  position:absolute;
  background: url('background/images_set8/sun_2.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm8_3{
  position:absolute;
  background: url('background/images_set8/sun_3.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm8_4{
  position:absolute;
  background: url('background/images_set8/sun_4.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm8_5{
  position:absolute;
  background: url('background/images_set8/sun_5.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm8_6{
  position:absolute;
  background: url('background/images_set8/sun_6.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}

.farm8_7{
  position:absolute;
  background: url('background/images_set8/sun_7.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  background-size:800px;
}
